group: travis_lts
env:
  global:
    TERM=dumb
language: java
jdk:
- openjdk8
- oraclejdk8
install: true
before_install:
- sudo apt update -y || true
- sudo apt install -y --no-install-recommends python-pip
- sudo pip install httpie
- source <(curl -fsSL https://raw.github.com/daggerok/bash-functions/master/main.bash)
- stop_any 27017 8080
script:
# OK
- cp -Rf src/main/java/daggerok/chat/AxonConfig.kt-wo-shapshotter src/main/java/daggerok/chat/AxonConfig.kt
- bash gradlew
- java -jar build/libs/*jar &
- wait_for 8080
- http :8080/api/room roomId=my-room
- http put :8080/api/room/my-room/max
- http put :8080/api/room/my-room/valery
- http delete :8080/api/room/my-room/max
- http delete :8080/api/room/my-room/valery
- http :8080/api/member
- stop_any 8080
# NOK
- cp -Rf src/main/java/daggerok/chat/AxonConfig.kt-w-shapshotter src/main/java/daggerok/chat/AxonConfig.kt
- bash gradlew
- java -jar build/libs/*jar &
- wait_for 8080
- http :8080/api/room roomId=my-room
- http put :8080/api/room/my-room/max
- http put :8080/api/room/my-room/valery
- http delete :8080/api/room/my-room/max
- http delete :8080/api/room/my-room/valery
- http :8080/api/member
- stop_any 8080
